.App {
  text-align: center;
}

.contaien{
  width: 90%;
  margin: auto;
}
.container table{
  color: #103979;
  width: 200px;
  margin:30px auto;
  height: 80px; 
}

.container button{
  background: #103979;
  color: aqua;
  border: none;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 900;
}
